*{
    margin: 0;
    padding: 0;
}

/* 100vh es el 100% de la pantalla, 10vh el 10% */

.contenedor-grid-index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 85vh repeat(3, 70vh) 7vh;
    grid-template-areas: 
    "nav"
    "head"
    "rows"
    "rows"
    "rows"
    "footer";
}


.barra-navegacion{
    top: 0;
    grid-area: nav;
    background-color: rgb(0, 0, 0);
	position: sticky;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .barra-navegacion a{
        text-decoration: none;
        color: yellow;
    }

        .barra-navegacion a img{
            height: 7vh;
            width: auto;
        }

    .barra-navegacion ul{
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        .barra-navegacion ul li{
            font-family: 'Roboto', sans-serif;
            font-size: 5vw;
            align-items: center;
            justify-content: center;
        }

            .barra-navegacion ul li a{
                text-decoration: none;
            }


header{
    height: 100%;
    grid-area: head;
	background: rgba(0,0,0,0.45)url(../img/background/header.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: darken;
	display: flex;
	align-items: center;
	justify-content: center;
}

    .contenedor-header{
        background-color: rgba(1, 22, 30,0.5);
        height: 70%;
        border-radius: 5%;
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .contenedor-header h1{
		margin-left: auto;
		margin-right: auto;
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 13vw;
	}

	.contenedor-header h2{
		color: white;
		margin-top: 3vw;
		font-family: 'Roboto', sans-serif;
		font-size: 7vw;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
        width: 90%;
	}

main{
    height: 100%;
    grid-area: rows;
	align-items: center;
	justify-content: center;
	text-align: center;
    display: flex;
    flex-direction: column;
}

    .rows2{
        display: flex;
        flex-direction: column;
		align-items: center;
        justify-content: center;
        text-align: justify;
		height: 50%;
		width: 100%;
		background-color: white;
    }

        .rows2 h3{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 9vw;
            font-family: 'Roboto', sans-serif;
        }
        .rows2 p{
            width: 90%;
            margin-top: 15px;
            text-align: justify;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Roboto', sans-serif;
            font-size: 6.3vw;
        }

        .rows2-imagenes{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center;
            background-color: beige;
            align-items: center;
            justify-content: space-evenly;

        }

        .rows2 div{
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
        }

        .rows2-imagenes img{
            height: 40%;
            width: 50%;
            background-color: rgba(255, 255, 255, 0.45);
            border-radius: 50%;
        }

    .rows1{
        height: 50%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: rgba(0,0,0,0.45);
        display: flex;
        flex-direction: column;
        }

        .rows1 h3{
            margin-left: auto;
            margin-right: auto;
            font-size: 9vw;
            font-family: 'Roboto', sans-serif;
        }
    
        .rows1 p{
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            font-size: 6.3vw;
            font-family: 'Roboto', sans-serif;
            text-align: justify;
            justify-content: center;
            width: 80%;
        }


footer{
    height: 100%;
    grid-area: footer;
	background-color: rgba(0, 0, 0, .3);
}

    .contenedor-footer{
        font-family: 'Roboto', sans-serif;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        height: 100%;
    }
    footer p{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
    }

    footer a{
        float: right;
        width: 4vw;
    }

    footer a img{
        display: inline-block;
        width: 100%;
    }


/* PRIMER PUNTO DE INFLEXION 500 PX */


@media (min-width:500px){
    
    .contenedor-grid-index{
        grid-template-rows: 12vh 95vh repeat(3, 75vh) 13vh;
    }

    .contenedor-header{
        width: 70%;
    }

    .barra-navegacion a img{
        height: 5.7vh;
    }
    .barra-navegacion ul li{
        font-size: 3.7vw;
    }

    .contenedor-header h1{
		font-size: 6.7vw;
    }

    .contenedor-header h2{
        font-size: 5.5vw;
    }

    .rows2 h3 {
		font-size: 6.7vw;
    }

    .rows2 p{
        font-size: 4.8vw;
    }

    .rows1 h3{
        font-size: 6.7vw;
    }

    .rows1 p{
        font-size: 4.7vw;
    }

    footer p{
        font-size: 3vw;
    }
}

@media (min-width:720px){
    .contenedor-grid-index{
        grid-template-rows: 10vh 95vh repeat(3, 85vh) 13vh;
    }

    .contenedor-header{
        width: 60%;
    }

    .barra-navegacion a img{
        height: 8vh;
    }
    .barra-navegacion ul li{
        font-size: 3.5vw;
    }

    .contenedor-header h1{
		font-size: 6vw;
    }

    .contenedor-header h2{
        font-size: 4vw;
    }

    .rows2 h3 {
		font-size: 5vw;
    }

    .rows2 p{
        font-size: 4vw;
        width: 80%;
    }

    .rows1 h3{
        font-size: 5vw;
    }

    .rows1 p{
        margin-top: 10px;
        font-size: 4vw;
    }
}

@media (min-width:1080px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedor-header{
        width: 50%;
    }

        .contenedor-header h1{
            font-size: 5vw;
        }
        .contenedor-header h2{
            font-size: 3.5vw;
        }

    .rows2{
        width: 50%;
    }

        .rows2 h3{
            font-size: 3.5vw;
        }

        .rows2 p{
            font-size: 2.5vw;
        }

    .rows1 h3{
        font-size: 4vw;
    }

    .rows1 p{
        font-size: 3.5vw;
        width: 70%;
    }

    footer p{
        font-size: 2vw;
    }
}